html, body {
    padding: 0;
    margin: 0;
    background-color: #333;
    font-family: Verdana;
}
#nav-bar {
    background-color: #111111;
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}
#namu-logo {
    float: left;
    color: skyblue;
    height: 30px;
}
.namu-logo-svg {
    fill:skyblue;
/*     fill: limegreen; */
}
#caption {
    background-color: #252525;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
}
#wrapper {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    background-color: black;
    margin: 10px;
    width: 300px;
    height: 300px;
    word-wrap: break-word;
    /*border-radius: 18px;*/
}

#server {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px;
    /*border-radius: 10px;*/
    background-color: #111111;
    color: white;
}
#hostname {
    height: 40%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #1e1e1e;
    border-bottom: 1px ;
}
#reloading {
    width: 80%;
    position: relative;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e1e1e;
    padding: 10px;
}
#current-time {
    font-size: 15px;
}
